
/* Medium devices (tablets, 768px and up)*/


body{
    position:relative;
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
}
.rounded-pill{
    margin-right: 11em;
    background-image:linear-gradient(to right,hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    border:none;
    font-size: 0.8em;
    color: hsl(0, 0%, 100%);
    padding: 0.5em 1.1em;    
}
/*Style complémentaire à bootstrap pour la barre de navigaion*/
.navbar{
    background-color: hsl(0, 0%, 100%);
}
.navbar-brand{
    margin-right: 10em;
    margin-left: 10em;
}
.button-nav{
    margin-right: 14em;
}
li:hover{
    border-image: linear-gradient(hsl(136, 65%, 51%), hsl(192, 70%, 51%)) 40;
    border-bottom: 4px solid;    
}

/*Positionnement image téléphone*/
#image2{        
    position: absolute;
    top: -9vh;
    left: 58vw;
    width: 35em;       
}
/*Mise en forme de la première section, principalement les couleurs et les marges, le reste est géré par bootstrap*/
#about{
    background-color: hsl(0, 0%, 98%);
}
#image{    
    background-image:url('../images/bg-intro-desktop.svg');  
    background-size:  auto;     
    background-position: 45vw -30vh;   
    background-repeat: no-repeat;
}
.boxSection1{
    margin: 100px  0 ;
}
.boxSection1 > h1{    
    margin-bottom: 1.4em;
    margin-top: 2em;
    font-size: 3.2em;
    color:#2D314D;
}
.boxSection1 > p{
    color:#989898;
    font-size: 0.9em;
}

/*Mise en forme de la seconde section, principalement couleurs et les marges verticales, le reste est géré par bootstrtap*/
#contact{  
    background-color:hsl(220, 16%, 96%);
}
#contact > .container{
    padding: 3em 0;
}
#contact h2, #contact h3{
    color:#2D314D; 
    margin-bottom: 1em;
}
#contact p{
font-size: 0.9em;
color:#989898;
}

/*Mise en forme de la troisième section, principalement couleurs et les marges verticales, le reste est géré par bootstrtap*/
#blog{
    background-color: hsl(0, 0%, 98%);
    padding-top: 50px;
}
.boxSection3 p{
    margin-top: 10px;
    padding: 0 15px;
    font-size: 0.9em;
}
#blog > div> h2{    
    color:#2D314D; 
    padding: 0 15px;     
}
#blog figcaption{
    margin-top:20px;
    margin-bottom: 20px;
    padding: 0 15px;
    font-size:0.7em;
}
.boxSection3 > img{
    border-radius: 6px 6px 0 0;
}
.boxSection3{
 background-color:  hsl(0, 0%, 100%);
 border-radius: 6px;
 margin:30px 0px;
}

.boxSection3 h3, .boxSection3 a{
   font-size: 1.1em;
   color:#2D314D;  
}
.boxSection3 h3{
    padding-left: 0.5em;
}
.boxSection3 h3,.boxSection3 a:hover{
    color:hsl(136, 65%, 51%);
    text-decoration: none;
}
/*mise en forme footer couleur et marges*/
footer{
    background-color: hsl(233, 26%, 24%);
    color:hsl(0, 0%, 98%);    
}
#logoFooter{
    margin-bottom: 3.5em;
}
.iconSocial{
    margin:0.3em;
}
.iconSocial:hover{
    background-color: hsl(136, 65%, 51%); 
    border-radius: 50%;
}
footer > div > .p-2{
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 0.9em;
    align-content: center;   
}
footer > div > .p-2 > p > a{
    color:hsl(0, 0%, 100%);
}
footer > div > .p-2 > p > a:hover{
  color:hsl(136, 65%, 51%); 
  text-decoration: none; 
}
footer > div > .p-2 > button{
    margin-bottom: 2.2em;    
}
#copyright{
    color: rgba(255, 255, 255, 0.5);
}

#btn-hamburger{
    background-image:hsl(0, 0%, 100%);

}




@media screen and (max-width:768px){
    body{
        position:relative;
        font-family: 'Public Sans', sans-serif;
        font-size: 18px;
        
    }
    .rounded-pill{        
        background-image:linear-gradient(to right,hsl(136, 65%, 51%), hsl(192, 70%, 51%));
        border:none;
        font-size: 0.8em;
        color: hsl(0, 0%, 100%);
        padding: 0.5em 1.1em; 
        margin-left: 10em;   
    }
    /*Style complémentaire à bootstrap pour la barre de navigaion*/
    .navbar{
        background-color: hsl(0, 0%, 100%);
    }
    .navbar-brand{
        margin:0;
    }
    li:hover{
        border-image: linear-gradient(hsl(136, 65%, 51%), hsl(192, 70%, 51%)) 40;
        border-bottom: 4px solid;               
    }
    .button-nav{
        display:none;
    }
    .navbar-collapse{
        text-align: center;  
    }
    
    /*Positionnement image téléphone*/
    #image2{              
        position: absolute;
        top: -32vh;
        left: -25vw;
        width:30em;       
    }
    /*Mise en forme de la première section, principalement les couleurs et les marges, le reste est géré par bootstrap*/
    #about{
        background-color: hsl(0, 0%, 98%);
    }
    #image{    
        background-image:url('../images/bg-intro-desktop.svg');  
        background-size:  auto;     
        background-position: -60vw -50vh;   
        background-repeat: no-repeat;
    }

    .boxSection1 > h1{    
        margin-bottom: 1.4em;
        margin-top: 12em;
        font-size: 3.2em;
        color:#2D314D;
    }
    .boxSection1 > p{
        color:#989898;
        font-size: 0.9em;
    }
    
    /*Mise en forme de la seconde section, principalement couleurs et les marges verticales, le reste est géré par bootstrtap*/
    #contact{  
        background-color:hsl(220, 16%, 96%);
    }
    #contact > .container{
        padding: 3em 3em;
  
    }
    #contact h2{
        padding-left: 2em;
        padding-right: 2em;
    }
    #contact h2, #contact h3{
        color:#2D314D; 
        margin-bottom: 1em;
    }
    #contact p{
    font-size: 0.9em;
    color:#989898;
    }
    
    /*Mise en forme de la troisième section, principalement couleurs et les marges verticales, le reste est géré par bootstrtap*/
    #blog{
        background-color: hsl(0, 0%, 98%);
        padding-top: 50px;
    }
    .boxSection3 p{
        margin-top: 10px;
        padding: 0 15px;
        font-size: 0.9em;
        margin-bottom: 2em;
    }
    #blog > div> h2{    
        color:#2D314D; 
        padding: 0 15px;     
    }
    #blog figcaption{
        margin-top:20px;
        margin-bottom: 20px;
        padding: 0 15px;
        font-size:0.7em;
    }
    .boxSection3 > img{
        border-radius: 6px 6px 0 0;
    }
    .boxSection3{
     background-color:  hsl(0, 0%, 100%);
     border-radius: 6px;
     margin:30px 0px;
    }
    
    .boxSection3 h3, .boxSection3 a{
       font-size: 1.1em;
       color:#2D314D;  
    }
    .boxSection3 h3{
        padding-left: 0.5em;
    }
    .boxSection3 h3,.boxSection3 a:hover{
        color:hsl(136, 65%, 51%);
        text-decoration: none;
    }
    /*mise en forme footer couleur et marges*/
    footer{
        background-color: hsl(233, 26%, 24%);
        color:hsl(0, 0%, 98%);    
    }
    #logoFooter{
        margin-top: 3.5em;
        margin-bottom: 3.5em;
    }
    .iconSocial{
        margin:0.3em;
        margin-bottom: 2em;
    }
    .iconSocial:hover{
        background-color: hsl(136, 65%, 51%); 
        border-radius: 50%;
    }
    footer > div > .p-2{
        font-size: 0.9em;
        margin: 0;    
    }
    footer > div > .p-2 > p > a{
        color:hsl(0, 0%, 100%);
        margin-top:1.1em;
    }
    footer > div > .p-2 > p > a:hover{
      color:hsl(136, 65%, 51%); 
      text-decoration: none; 
    }
    #copyright{
        color: rgba(255, 255, 255, 0.5);
    }
    #btn-hamburger{
        background-image:hsl(0, 0%, 100%);
    
    }
   }